@page
@model ProcessSaleModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ProcessSale</title>
    <meta charset="utf-8" />
    <script type="text/javascript">

    </script>
</head>


<body>
    <header>Process Sale</header>
    <main>
        <div>
            <form name="AddSale" method="post" id="AddSale" onsubmit="return isValid(window.document.AddSale);">
               
                <table border="1" align="center">

                   
                    <tr>
                        <td>SaleDate:</td>
                        <td>
                            <input id="Text1" type="text" name="SaleDate" value="@Model.SaleDate" />
                        </td>
                    </tr>

                    <tr>
                        <td>CustomerName:</td>
                        <td>
                            <input id="Text2" type="text" name="CustomerName" value="@Model.CustomerName" />
                        </td>
                    </tr>
                    <tr>
                        <td>Salesperson:</td>
                        <td>
                            <input id="Text2" type="text" name="Salesperson" value="@Model.Salesperson" />
                        </td>
                    </tr>
                    <tr>
                        <td>ItemCode:</td>
                        <td>
                            <input id="Text2" type="text" name="ItemCode" value="@Model.ItemCode" />
                        </td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td>
                            <input id="Text2" type="text" name="Quantity" value="@Model.Quantity" />
                        </td>
                    </tr>
                    <tr>
                        <td>ItemTotal:</td>
                        <td>
                            <input id="Text2" type="text" name="ItemTotal" value="@Model.ItemTotal" />
                        </td>
                    </tr>
                    <tr>
                        <td>Subtotal:</td>
                        <td>
                            <input id="Text2" type="text" name="Subtotal" value="@Model.Subtotal" />
                        </td>
                    </tr>
                    <tr>
                        <td>Gst:</td>
                        <td>
                            <input id="Text2" type="text" name="Gst" value="@Model.Gst" />
                        </td>
                    </tr>
                    <tr>
                        <td>SaleTotal:</td>
                        <td>
                            <input id="Text2" type="text" name="SaleTotal" value="@Model.SaleTotal" />
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <input type="submit" name="Submit" value="Submit" />
                        </td>

                        <td>
                            <input id=reset1 name=reset1 type=button value=Reset onClick="reset()" />

                        </td>

                    </tr>

                    @*<Script>

        </Script>*@

                    @*<td>
            <input type="button" name="Cancel" value="Cancel" />
        </td>*@



                </table>
                @Model.Message3
                @Model.Message
                @Model.Message2
            </form>
        </div>
    </main>
    <footer>
    </footer>
</body>


</html>
